@import "bourbon"
@import ../variables
header
	.container
		@media only screen and (max-width: $first-break)
			min-height: 420px !important

		.logo
			@media only screen and (max-width: $first-break)
				background: url('../img/logo_smaller@2x.png') no-repeat center center !important
				@include image-2x("../img/logo_smaller@2x.png", 388px, 218px)
				background-size: 388px 218px !important
				height: 218px !important
				width: 388px !important

	
section.navcontainer.container
	@media only screen and (max-width: $first-break)
		display: none
	
	nav
		
		ul
			@media only screen and (max-width: $first-break)
				display: none
	
.slicknav_menu
	@media only screen and (min-width: $first-break)
		display: none
	@media only screen and (max-width: $first-break)
		display: block


section.container.content		
	div.row
		@media only screen and (max-width: $first-break)
			padding: 3em
			margin: 3em 0 !important
	div.screenshot
		@media only screen and (max-width: $first-break)
			display: none