.container {
  max-width: 960px;
  padding: 0 1.06383%;
  margin: 0 auto; }

.container,
.row {
  zoom: 1; }
  .container:before, .container:after,
  .row:before,
  .row:after {
    content: "";
    display: table; }
  .container:after,
  .row:after {
    clear: both; }

@media (min-width: 640px) {
  html.flexbox .row {
    display: -moz-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    flex-align: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%; } }

@media (min-width: 640px) {
  .columns {
    float: left;
    margin: 0 0 0 2.12766%;
    width: 6.38298%; }
    .columns:first-child {
      margin-left: 0; }
    html.flexbox .columns {
      float: none; }
    .columns.two {
      width: 14.89362%; }
    .columns.three, .columns.one-fourth {
      width: 23.40426%; }
    .columns.four, .columns.one-third {
      width: 31.91489%; }
    .columns.five {
      width: 40.42553%; }
    .columns.six, .columns.one-half {
      width: 48.93617%; }
    .columns.seven {
      width: 57.44681%; }
    .columns.eight, .columns.two-thirds {
      width: 65.95745%; }
    .columns.nine, .columns.three-fourths {
      width: 74.46808%; }
    .columns.ten {
      width: 82.97872%; }
    .columns.eleven {
      width: 91.48936%; }
    .columns.twelve, .columns.full {
      width: 100.0%; }
    .columns.offset-one {
      margin-left: 10.6383%; }
      .columns.offset-one:first-child {
        margin-left: 8.51064%; }
    .columns.offset-two {
      margin-left: 19.14894%; }
      .columns.offset-two:first-child {
        margin-left: 17.02128%; }
    .columns.offset-three {
      margin-left: 27.65957%; }
      .columns.offset-three:first-child {
        margin-left: 25.53191%; }
    .columns.offset-four {
      margin-left: 36.17021%; }
      .columns.offset-four:first-child {
        margin-left: 34.04255%; }
    .columns.offset-five {
      margin-left: 44.68085%; }
      .columns.offset-five:first-child {
        margin-left: 42.55319%; }
    .columns.offset-six {
      margin-left: 53.19149%; }
      .columns.offset-six:first-child {
        margin-left: 51.06383%; }
    .columns.offset-seven {
      margin-left: 61.70213%; }
      .columns.offset-seven:first-child {
        margin-left: 59.57447%; }
    .columns.offset-eight {
      margin-left: 70.21277%; }
      .columns.offset-eight:first-child {
        margin-left: 68.08511%; }
    .columns.offset-nine {
      margin-left: 78.7234%; }
      .columns.offset-nine:first-child {
        margin-left: 76.59574%; }
    .columns.offset-ten {
      margin-left: 87.23404%; }
      .columns.offset-ten:first-child {
        margin-left: 85.10638%; }
    .columns.offset-eleven {
      margin-left: 95.74468%; }
      .columns.offset-eleven:first-child {
        margin-left: 93.61702%; } }
