$content: 16px
$heading: 24px

$orange: #ff9215
$green: #14c070
$blue: #316d95

$dark: #333c40
$medium: #909699
$light: #ebf0f2
$white: #ffffff

$first-break: 640px

$fonts: "proxima-nova", proxima nova, helvetica, arial, sans-serif

.caps
	font-size: $content
	text-transform: uppercase
	font-family: $fonts	
	
.capsalt
	font-size: $heading
	font-weight: 300
	text-transform: uppercase
	letter-spacing: 2px
	font-family: $fonts	
  
@mixin border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	-o-border-radius: $radius
	border-radius: $radius
	
@mixin image-2x($image, $width, $height)
	@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
		/* on retina, use image that's scaled by 2 */
		background-image: url($image)
		background-size: $width $height