@import "bourbon"
@import variables

.slicknav_btn
	display: block 
	vertical-align: middle 
	float: right 
	padding: 5px 5px 5px 5px 
	line-height: 40px 
	cursor: pointer 
	margin: 5px 5px 6px
	text-decoration: none
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
	background-color: transparent
	-webkit-appearance: none
	height: 18px
	
	&:focus
		outline: none
		border: none
	
.slicknav_menu	
	position: fixed
	z-index: 100
	right: 0
	width: calc(100% - 2em)
	margin: 1em 1em 0 0
	padding: 0 !important
	font-size: 16px
	zoom: 1
	background: tranparent
	padding: 1em
	
	.slicknav_menutxt
		display: block 
		float: right
		color: #FFF
		font-weight: bold
		
	.slicknav_no-text
		margin: 0 
		display: block 
		
	.slicknav_icon-bar
		display: block 
		width: 32px 
		height: 4px 
		-webkit-border-radius: 2px 
		-moz-border-radius: 2px 
		-o-border-radius: 2px 
		border-radius: 2px 
		background: rgba(0,0,0,0.5)
		
	.slicknav_open
		.slicknav_icon-bar
			background: $orange
		
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar
	margin-top: 0.188em 
	
.slicknav_nav
	clear: both 
	border-radius: 4px
	box-shadow: 0 2px 4px rgba(0,0,0,.5)
	background: rgba(255,255,255,0.95)
	color: $orange
	margin: 0
	padding: 0
	font-size: 1em
	list-style: none
	overflow: hidden	
	width: 100%
	
	ul 
		
		list-style: none
		overflow: hidden	
		padding: 0
		margin: 0 0 0 20px
		display: block
		
		li
			display: block
			height: 44px
			line-height: 44px
			vertical-align: middle
	
	.slicknav_arrow
		font-size: 0.8em 
		margin: 0 0 0 0.4em 
	
	.slicknav_item
		cursor: pointer 
	
	.slicknav_row
		display: block
		padding: 5px 10px
		margin: 2px 5px
		
		&:hover
			color: $dark
	
	a
		display: block
		height: 44px
		line-height: 44px
		vertical-align: middle
		padding: 0 1em
		border-bottom: 1px solid rgba(0,0,0,0.05)
		border-top: 1px solid rgba(255,255,255,1)
		text-decoration: none
		color: $orange
		
		&:hover
			color: $dark
	
		
			
	.slicknav_item a, .slicknav_parent-link a
		display: inline
		padding: 0
		margin: 0

	.slicknav_txtnode 
		margin-left: 15px
		
.slicknav_menu:before, .slicknav_menu:after
	content: " " 
	display: table 

.slicknav_menu:after
	clear: both 
