@import "bourbon"
@import variables

*
	font-family: $fonts
	@include transition (color 0.2s ease-out, opacity 0.2s ease-out)
	
	&:hover
		@include transition (color 0.2s ease-out, opacity 0.2s ease-out)
	
html
	font-family: $fonts
	margin: 0
	padding: 0
	overflow-x: hidden
	
body
	background: $white
	margin: 0
	padding: 0
	font-size: $content
	font-family: $fonts
	color: $dark
	font-weight: 600
	text-decoration: none
	overflow-x: hidden
	
	&:hover
		color: $orange
h1
	@extend .caps	
	font-weight: 600
	height: 100px
	width: 100%
	line-height: 100px
	vertical-align: middle
	background: $white
	color: $orange
	text-align: center
	padding: 0
	margin: 0
		
h2
	@extend .capsalt
	color: $orange
	padding: 10px 0 14px 0
	
h3
	height: 100px
	width: 100%
	line-height: 100px
	vertical-align: middle
	background: transparent
	color: $white
	text-align: center
	padding: 0
	margin: 0
	
h4
	@extend .caps
	font-weight: 600
	color: $dark
	padding: 0 0 1em 0
	
p
	line-height: 24px
	color: $dark
	font-size: $content
	font-weight: 300

ul
	list-style: none
		
.container
	padding: 0 !important
	
.row.content
	margin: 3em 0
	
.rightalign
	text-align: right
	
.features li
	margin: 0 0 5em 0

.columns.four input, .columns.six input
	min-width: 100%
	background: #ebf0f2
	border-radius: 4px
	color: #909699
	font-weight: 400
	padding: 0 0 0 1em
	border: none
	box-sizing: border-box
	height: 48px
	font-size: $content
	margin: 0 0 16px 0
	@include transition (all 0.2s ease-out)
	
	
	&:focus
		background: #dae6f2
		padding: 0 0 0 16px
		color: #406080
		outline: none
		@include transition (all 0.2s ease-out)
		
		
.columns.eight
	textarea
		min-width: 100%
		background: #ebf0f2
		border-radius: 4px
		color: #909699
		font-weight: 400
		padding: 14px 0 0 1em
		border: none
		box-sizing: border-box
		height: 112px
		font-size: $content
		margin: 0 0 13px 0
		resize: none 
		@include transition (all 0.2s ease-out)
	
		&:focus
			background: #dae6f2
			color: #406080
			outline: none
			@include transition (all 0.2s ease-out)
			
	input#submit
		min-width: 100%
		background: #14c070
		border-radius: 4px
		color: #fff
		font-weight: 600
		text-transform: uppercase
		line-height: 47px
		border: none
		box-sizing: border-box
		height: 48px
		text-align: center
		font-size: $content
		resize: none 
		cursor: pointer
		-webkit-appearance: none
		@include transition (all 0.2s ease-out)
		
		&:hover 
			background: #00d974
			@include transition (all 0.2s ease-out)
			
		&:active
			background: #009952
			outline: none
			@include transition (all 0.2s ease-out)
			
.row 

	input.url
		min-width: 100%
		background: #ebf0f2
		border-radius: 4px
		color: #909699
		font-weight: 400
		padding: 0 0 0 1em
		border: none
		box-sizing: border-box
		height: 48px
		font-size: $content
		margin: 0 0 16px 0
		@include transition (all 0.2s ease-out)
		
		&:focus
			background: #dae6f2
			padding: 0 0 0 16px
			color: #406080
			outline: none
			@include transition (all 0.2s ease-out)
	
	textarea
		min-width: 100%
		background: #ebf0f2
		border-radius: 4px
		color: #909699
		font-weight: 400
		padding: 14px 0 0 1em
		border: none
		box-sizing: border-box
		height: 112px
		font-size: $content
		margin: 0 0 13px 0
		resize: none 
		@include transition (all 0.2s ease-out)
	
		&:focus
			background: #dae6f2
			color: #406080
			outline: none
			@include transition (all 0.2s ease-out)
			
	input#submit
		min-width: 100%
		background: #14c070
		border-radius: 4px
		color: #fff
		font-weight: 600
		text-transform: uppercase
		line-height: 47px
		border: none
		box-sizing: border-box
		height: 48px
		text-align: center
		font-size: $content
		resize: none 
		cursor: pointer
		-webkit-appearance: none
		@include transition (all 0.2s ease-out)
		
		&:hover 
			background: #00d974
			@include transition (all 0.2s ease-out)
			
		&:active
			background: #009952
			outline: none
			@include transition (all 0.2s ease-out)
	
.nooffset
	margin: 0
	padding: 0
	
label.error
	color: $orange
	font-size: $content
	font-style: italic
	display: block
	height: 1em
	width: 100%
	margin: 0 0 13px 0

@import partials/header.sass
@import partials/footer.sass
@import partials/responsive.sass

.container.navigation
	float: left
.row.lists
	margin: 0 0 1em 0
	
	.partners
		text-align: center			
		
		li
			margin: 1em 0
			
			a
				text-decoration: underline
				font-weight: 300
				
.companylist 

	ul.first
		margin-left: 0 !important
		
	li

		display: block
		margin: 1em 0
		overflow: hidden
		position: relative
		
		img
			position: relative
			width: 100%
			height: auto
			z-index: 0
		
		div
			visibility: hidden
			display: block
			width: 100%
			height: 100%
			text-align: center
			opacity: 0
			top: 0
			left: 0
			z-index: 1
			position: absolute
			background: rgba(255,255,255,0.95)
			line-height: 100%
			vertical-align: middle
			padding: 7em 0 0 0
			
			h2, h3
				color: $dark
				line-height: 100%
				
			
		&:hover div
			visibility: visible
			opacity: 100
.button
	margin: 0
	color: #666
	text-transform: none
	display: inline-block
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 0 12px
	vertical-align: middle
	line-height: 28px
	min-height: 30px
	font-size: 1em
	text-decoration: none
	text-align: center
	border: 1px solid rgba(0,0,0,0.25)
	box-shadow: 0 1px 1px rgba(0,0,0,0.15)
	background-origin: border-box
	background: -webkit-linear-gradient(top,#fff,#eee), #f7f7f7
	background: linear-gradient(to bottom,#fff,#eee), #f7f7f7
	border-radius: 5px
	text-shadow: 0 1px 0 #fff
	position: relative
	margin: 1em 0
	left: 50%
	@include transform(translateX(-50%))
	
	&:hover
		background: #fff
		color: #666
		
	&:active
		background-color: #f5f5f5
		color: #666
		border-color: rgba(0,0,0,.2)
		background-image: none
		box-shadow: inset 0 2px 4px rgba(0,0,0,.1)