.caps, h1, h4, header .container ul.bottomheader h1, section.navcontainer.container nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

.capsalt, h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

* {
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out; }
  *:hover {
    -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
    transition: color 0.2s ease-out, opacity 0.2s ease-out; }

html {
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  background: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif;
  color: #333c40;
  font-weight: 600;
  text-decoration: none;
  overflow-x: hidden; }
  body:hover {
    color: #ff9215; }

h1 {
  font-weight: 600;
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
  background: white;
  color: #ff9215;
  text-align: center;
  padding: 0;
  margin: 0; }

h2 {
  color: #ff9215;
  padding: 10px 0 14px 0; }

h3 {
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
  background: transparent;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0; }

h4 {
  font-weight: 600;
  color: #333c40;
  padding: 0 0 1em 0; }

p {
  line-height: 24px;
  color: #333c40;
  font-size: 16px;
  font-weight: 300; }

ul {
  list-style: none; }

.container {
  padding: 0 !important; }

.row.content {
  margin: 3em 0; }

.rightalign {
  text-align: right; }

.features li {
  margin: 0 0 5em 0; }

.columns.four input, .columns.six input {
  min-width: 100%;
  background: #ebf0f2;
  border-radius: 4px;
  color: #909699;
  font-weight: 400;
  padding: 0 0 0 1em;
  border: none;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  margin: 0 0 16px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .columns.four input:focus, .columns.six input:focus {
    background: #dae6f2;
    padding: 0 0 0 16px;
    color: #406080;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }

.columns.eight textarea {
  min-width: 100%;
  background: #ebf0f2;
  border-radius: 4px;
  color: #909699;
  font-weight: 400;
  padding: 14px 0 0 1em;
  border: none;
  box-sizing: border-box;
  height: 112px;
  font-size: 16px;
  margin: 0 0 13px 0;
  resize: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .columns.eight textarea:focus {
    background: #dae6f2;
    color: #406080;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
.columns.eight input#submit {
  min-width: 100%;
  background: #14c070;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 47px;
  border: none;
  box-sizing: border-box;
  height: 48px;
  text-align: center;
  font-size: 16px;
  resize: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .columns.eight input#submit:hover {
    background: #00d974;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .columns.eight input#submit:active {
    background: #009952;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }

.row input.url {
  min-width: 100%;
  background: #ebf0f2;
  border-radius: 4px;
  color: #909699;
  font-weight: 400;
  padding: 0 0 0 1em;
  border: none;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  margin: 0 0 16px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .row input.url:focus {
    background: #dae6f2;
    padding: 0 0 0 16px;
    color: #406080;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
.row textarea {
  min-width: 100%;
  background: #ebf0f2;
  border-radius: 4px;
  color: #909699;
  font-weight: 400;
  padding: 14px 0 0 1em;
  border: none;
  box-sizing: border-box;
  height: 112px;
  font-size: 16px;
  margin: 0 0 13px 0;
  resize: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .row textarea:focus {
    background: #dae6f2;
    color: #406080;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
.row input#submit {
  min-width: 100%;
  background: #14c070;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 47px;
  border: none;
  box-sizing: border-box;
  height: 48px;
  text-align: center;
  font-size: 16px;
  resize: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .row input#submit:hover {
    background: #00d974;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .row input#submit:active {
    background: #009952;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }

.nooffset {
  margin: 0;
  padding: 0; }

label.error {
  color: #ff9215;
  font-size: 16px;
  font-style: italic;
  display: block;
  height: 1em;
  width: 100%;
  margin: 0 0 13px 0; }

.caps, h1, h4, header .container ul.bottomheader h1, section.navcontainer.container nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

.capsalt, h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

header {
  display: block;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  top: 0;
  left: 0;
  position: relative;
  background: url("../img/header.jpg") no-repeat bottom center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 !important;
  margin: 0; }
  header .container {
    min-height: 640px;
    height: 100%;
    position: relative;
    display: block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.57);
    color: white;
    text-align: center; }
    header .container .logo {
      background: url("../img/logo.png") no-repeat center center;
      background-size: 519px 292px;
      height: 292px;
      width: 519px;
      display: block;
      text-indent: -1000000000000em;
      overflow: hidden;
      color: transparent;
      margin: 4em auto 0 auto; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        header .container .logo {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../img/logo@2x.png");
          background-size: 512px 292px; } }
    header .container .tagline {
      width: 100%;
      max-width: 460px;
      margin: 1em auto 0 auto;
      display: block;
      font-weight: 500;
      font-size: 1.5em;
      color: white; }
    header .container .pitch {
      width: 100%;
      max-width: 460px;
      margin: 1em auto 0 auto;
      font-weight: 600;
      max-width: 460px;
      color: white; }
    header .container ul.bottomheader {
      width: 100%;
      padding: 0 !important;
      list-style: none;
      text-align: center;
      margin: 1em auto 0 auto; }
      header .container ul.bottomheader li {
        list-style: none;
        display: inline-block;
        height: 66px;
        width: 202px;
        margin: 0 1em; }
      header .container ul.bottomheader .row {
        padding: 0 !important; }
      header .container ul.bottomheader h1 {
        font-weight: 600;
        font-size: 24px !important;
        color: white;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
        padding: 7px 0 0 0;
        background: transparent; }

section.navcontainer.container {
  background: white;
  height: 101px;
  display: block; }
  section.navcontainer.container .stuck {
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 1;
    margin: 0 !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  section.navcontainer.container nav {
    display: block;
    position: relative;
    left: 0;
    min-width: 100%;
    background: white;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    margin: 0 0 0 0px; }
    section.navcontainer.container nav ul {
      list-style: none;
      width: 100%;
      max-width: 960px;
      height: 100px;
      display: block;
      text-align: center;
      padding: 0 !important;
      margin: 0 auto; }
      section.navcontainer.container nav ul li {
        display: inline-block;
        vertical-align: middle;
        line-height: 100px; }
        section.navcontainer.container nav ul li a {
          display: inline-block;
          height: 100px;
          width: 100%;
          line-height: 100px;
          vertical-align: middle;
          color: #ff9215;
          font-size: 16px;
          text-decoration: none;
          -webkit-transform: translateZ(0);
          -moz-transform: translateZ(0);
          -ms-transform: translateZ(0);
          -o-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
          section.navcontainer.container nav ul li a:hover {
            color: #333c40; }
        section.navcontainer.container nav ul li a.active {
          color: #333c40; }

.socialbuttons {
  margin: 2em 0; }
  .socialbuttons .fbbutton {
    display: inline-block;
    height: 20px; }
  .socialbuttons .twitterbutton {
    display: inline-block;
    height: 22px;
    margin-bottom: -3px; }

ul.menu {
  display: none; }

.caps, h1, h4, header .container ul.bottomheader h1, section.navcontainer.container nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

.capsalt, h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

footer {
  display: block;
  height: auto;
  min-width: 100%;
  top: 0;
  left: 0;
  position: relative;
  background: #ebf0f2;
  padding: 0 !important;
  margin: 0;
  color: #333c40; }
  footer .container {
    padding: 0; }
    footer .container .row {
      padding: 0; }
  footer h1 {
    background: transparent;
    color: #909699; }
  footer h3 {
    color: #909699; }
  footer a {
    color: #909699; }
  footer ul {
    text-align: center; }
    footer ul li {
      padding: 0;
      margin: 0 8px;
      height: 64px;
      width: 64px;
      display: inline-block; }
      footer ul li a {
        height: 64px;
        width: 64px;
        display: inline-block;
        color: transparent;
        text-indent: -1000000000000em;
        color: #909699; }
    footer ul li.facebook a {
      background: url("../img/facebook.png") no-repeat;
      background-size: 64px 64px;
      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        footer ul li.facebook a {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../img/facebook@2x.png");
          background-size: 64px 64px; } }
      footer ul li.facebook a:hover {
        background: url("../img/facebook_hover.png") no-repeat;
        background-size: 64px 64px;
        -webkit-transition: background 0.2s ease-out;
        -moz-transition: background 0.2s ease-out;
        transition: background 0.2s ease-out; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          footer ul li.facebook a:hover {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../img/facebook_hover@2x.png");
            background-size: 64px 64px; } }
    footer ul li.twitter a {
      background: url("../img/twitter.png") no-repeat;
      background-size: 64px 64px;
      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        footer ul li.twitter a {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../img/twitter@2x.png");
          background-size: 64px 64px; } }
      footer ul li.twitter a:hover {
        background: url("../img/twitter_hover.png") no-repeat;
        background-size: 64px 64px;
        -webkit-transition: background 0.2s ease-out;
        -moz-transition: background 0.2s ease-out;
        transition: background 0.2s ease-out; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          footer ul li.twitter a:hover {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../img/twitter_hover@2x.png");
            background-size: 64px 64px; } }
    footer ul li.instagram a {
      background: url("../img/instagram.png") no-repeat;
      background-size: 64px 64px;
      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        footer ul li.instagram a {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../img/instagram@2x.png");
          background-size: 64px 64px; } }
      footer ul li.instagram a:hover {
        background: url("../img/instagram_hover.png") no-repeat;
        background-size: 64px 64px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          footer ul li.instagram a:hover {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../img/instgram@2x.png");
            background-size: 64px 64px; } }

.caps, h1, h4, header .container ul.bottomheader h1, section.navcontainer.container nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

.capsalt, h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

@media only screen and (max-width: 640px) {
  header .container {
    min-height: 420px !important; } }
@media only screen and (max-width: 640px) {
  header .container .logo {
    background: url("../img/logo_smaller@2x.png") no-repeat center center !important;
    background-size: 388px 218px !important;
    height: 218px !important;
    width: 388px !important; } }
  @media only screen and (max-width: 640px) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 640px) and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 640px) and (min-device-pixel-ratio: 1.3), only screen and (max-width: 640px) and (min-resolution: 1.3dppx) {
    header .container .logo {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../img/logo_smaller@2x.png");
      background-size: 388px 218px; } }

@media only screen and (max-width: 640px) {
  section.navcontainer.container {
    display: none; } }
@media only screen and (max-width: 640px) {
  section.navcontainer.container nav ul {
    display: none; } }

@media only screen and (min-width: 640px) {
  .slicknav_menu {
    display: none; } }
@media only screen and (max-width: 640px) {
  .slicknav_menu {
    display: block; } }

@media only screen and (max-width: 640px) {
  section.container.content div.row {
    padding: 3em;
    margin: 3em 0 !important; } }
@media only screen and (max-width: 640px) {
  section.container.content div.screenshot {
    display: none; } }

.container.navigation {
  float: left; }

.row.lists {
  margin: 0 0 1em 0; }
  .row.lists .partners {
    text-align: center; }
    .row.lists .partners li {
      margin: 1em 0; }
      .row.lists .partners li a {
        text-decoration: underline;
        font-weight: 300; }

.companylist ul.first {
  margin-left: 0 !important; }
.companylist li {
  display: block;
  margin: 1em 0;
  overflow: hidden;
  position: relative; }
  .companylist li img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0; }
  .companylist li div {
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    line-height: 100%;
    vertical-align: middle;
    padding: 7em 0 0 0; }
    .companylist li div h2, .companylist li div h3 {
      color: #333c40;
      line-height: 100%; }
  .companylist li:hover div {
    visibility: visible;
    opacity: 100; }

.button {
  margin: 0;
  color: #666666;
  text-transform: none;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  vertical-align: middle;
  line-height: 28px;
  min-height: 30px;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background-origin: border-box;
  background: -webkit-linear-gradient(top, white, #eeeeee), #f7f7f7;
  background: linear, to bottom, white, #eeeeee, #f7f7f7;
  border-radius: 5px;
  text-shadow: 0 1px 0 white;
  position: relative;
  margin: 1em 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .button:hover {
    background: white;
    color: #666666; }
  .button:active {
    background-color: whitesmoke;
    color: #666666;
    border-color: rgba(0, 0, 0, 0.2);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); }
