{% extends "base.html" %}
{% block title %} — Home{% endblock title%}

{% block css %}	
	<link href="{% static '/css/partials/company.css' %}" media="screen" rel="stylesheet" />
{% endblock css %}	

{% block scripts %}
<script id="addJS">
jQuery(document).ready(function($) {
	  $('nav li a[href^="company"]').addClass('active');	
	  $('li.expandable').append('<span class="plus">+</span>');	
	  $('li.expandable').click(function(){
	  	$(this).next().toggleClass('expanded');
	  	$(this).next().toggleClass('hidden');
	  	$(this).children('.plus').toggleClass('rotated');
	  });    
	});
</script>
{% endblock scripts %}

{% block content %}	
<div class="row">
	<h1>Career Opportunities</h1>
	<p>We’re always on the hunt for talented, hardworking, and driven individuals to join our team. Let us know if you're interested in any of these positions, and if none fit, send us a résumé anyways, and maybe we'll be in touch!</p>
</div>
<div class="row">
	<ul class="columns twelve">
		<li class="expandable"><h2>Software Engineer, Backend Expert</h2></li>
		<li class="hidden">
			<p>We're looking for uncompromising talent who will come help us make a dent in the
			universe.  We are seeking a Full Time Lead Developer/Software
			Engineer. Candidates will be expected to:</p>
			<ul>
				<li>Play a leading role in the company's engineering effort</li>
				<li>Work on building out engineering dev-ops.</li>
			</ul>
			<p>Qualifications:</p>
			<ul>
				<li>Experience working in an engineering team to deliver world-class mobile applications and services.</li>
				<li>Mastery of Javascript/Python.</li>
				<li>Knowledge of Git</li>
				<li>Knowledge of MySQL/Elasticsearch</li>
			</ul>
			<p>You are:</p>
			<ul>
				<li>Kick-ass</li>
				<li>Make and break things on a daily basis</li>
				<li>A self-motivated team player</li>
				<li>Hard working and driven by challenge</li>
			</ul>
			<p>If you feel up to the challenge, send us your resume (and/portfolio)
			and we look forward to getting in touch!</p>
			<a href="mailto:allen@trytastebud.com?subject=Software%20Engineer%20Application" class="button">Apply Now</a>
		</li>
		<li class="expandable"><h2>Become a TasteBuddy</h2></li>
		<li class="hidden">
			<p>Do you love TasteBud and want to get paid to spread the word? Be a part of our TasteBud extended family by becoming a "TasteBuddy" and receive TasteBud credit in return! Receive $5.00 TasteBud credit for each download you inspire.</p>
			<p>The primary function of our TasteBuddy program is to get the word out about TasteBud, recommend its services, and foster brand awareness. By hosting events, taking to social media, and being a brand resource, TasteMakers are planting deep roots within their community. These roots can soon flower and grow into flourishing connections driving new customers and business while providing you with invaluable experience.</p>
		<a href="mailto:alexis@trytastebud.com?subject=TasteBud%20Application" class="button">Apply Now</a>
		</li>
		<li class="expandable"><h2>Marketing Intern</h2></li>
		<li class="hidden">
			<p>Are you obsessed with finding and sharing stories online?  Do your friends look to you on Facebook and Twitter for the latest trends, ideas, and online memes? TasteBud is looking for someone who craves learning new skills and isn’t afraid to tackle big projects.</p>
			<p>This intern should be prepared to work in a fast-paced team environment and will finish the internship having gained broad experience in various aspects of a start-up business and marketing with the potential of a full-time job opportunity.</p>
				<a href="mailto:alexis@trytastebud.com?subject=Marketing%20Intern%20Application" class="button">Apply Now</a></p>				
		</li>
		<li class="expandable"><h2>Production Designer</h2></li>
		<li class="hidden">
			<p>Do you have an eye for detail? Do you sweat the details, and demand pixel-perfection in the assets you produce, and in the implementation of your visual specs? Can you list the PPI multipliers for Android and iOS?</p>
			<ul>
				<li>Understanding of pixel-optimization across devices, resolutions, platforms, and DPIs.</li>
				<li>Fluency in Adobe Photoshop and Illustrator.</li>
				<li>Experience in HTML and CSS prototyping.</li>
				<li>Experience working in a small, fast-paced team. Where applicable, you must be able to take creative direction from the team.</li>
			</ul>
			<p>It's even better if you have:</p>
			<ul>
				<li>Experience in rapid iteration — whether that be on paper, Photoshop, Illustrator, HTML/CSS, Keynote, or any other medium.</li>
				<li>Experience with SASS and Bourbon.</li>
			</ul>
			<p>To apply, send a bio , résumé, two highlighted projects, and a link to your portfolio (and if you have one, Dribbble).</p>
			<a href="mailto:wil@trytastebud.com?subject=Production%20Designer%20Application" class="button">Apply Now</a>				
		<li class="expandable"><h2>Visual Design Intern</h2></li>
		<li class="hidden">
			<p>Do you want to learn more about visual design, and garner experience in a fast-paced startup with a lean design team? Here's what you need:</p>
			<ul>
				<li>Limited experience with Adobe Photoshop.</li>
				<li>Preparedness to better learn the wide range of visual design responsibilities: production design, illustration, icon design, and UI prototyping and design.</li>
			</ul>
			<p>To apply, send a bio , résumé, and a link to your portfolio (and if you have one, Dribbble).</p>
				<a href="mailto:wil@trytastebud.com?subject=Visual%20Design%20Intern%20Application" class="button">Apply Now</a>	</p>			
		</li>
		<li class="expandable"><h2>Marketing and Advertising Design Intern</h2></li>
		<li class="hidden">
			<p>Are you interested in design for marketing and advertising? Can you work with a variety of different individuals — from our Director of Sales and Marketing to our Creative Director? Here's what you need:</p>
			<ul>
				<li>Limited experience in Adobe Photoshop, Illustrator, and InDesign.</li>
			</ul>
			<p>To apply, send a bio , résumé, and a link to your portfolio (and if you have one, Dribbble).</p>
				<a href="mailto:wil@trytastebud.com?subject=Marketing%20and%20Advertising%20Design%20Intern%20Application" class="button">Apply Now</a></p>			
		</li>
	</ul>
</div>
<!-- After the first website is up I promise to find a better way to code this. Need to find a new grid with an actual reflow system, or fuck these grids all together. I promise. Don't hate me for this markup. Kthxbai. -->
<div class="row companylist">
<!--<h1>Meet the Team</h1>

	<ul class="columns four first">
		<li><img src="{% static '/img/company/marcelo.jpg' %}" alt="Marcelo Vieira"><div><h2>Marcelo Vieira</h2><h3>Founder, CEO</h3></div></li>
		<li><img src="{% static '/img/company/alexis.jpg' %}" alt="Alexis Neal"><div><h2>Alexis Neal</h2><h3>Director of Sales and Marketing </h3></div></li>
		<li><img src="{% static '/img/company/andrew.jpg' %}" alt="Andrew Lin"><div><h2>Andrew Lin</h2><h3>Backend Developer</h3></div></li>
		<li><img src="{% static '/img/company/wil.png' %}" alt="Wil Nichols"><div><h2>Wil Nichols</h2><h3>Product Designer</h3></div></li>
		<li><img src="{% static '/img/company/niraj.jpg' %}" alt="Niraj Jayant"><div><h2>Niraj Jayant</h2><h3>iOS Developer, PoS Integration</h3></div></li>
	</ul>
	<ul class="columns four">
		<li><img src="{% static '/img/company/sriram.jpg' %}" alt="Sriram Vishwanath"><div><h2>Sriram Vishwanath</h2><h3>Thinker, Disruptor, All-Around Good Guy--><!--Co-Founder, CTO--><!--</h3></div></li>
		<li><img src="{% static '/img/company/khoa.jpg' %}" alt="Khoa La"><div><h2>Khoa Le</h2><h3>Titles, Aux Title</h3></div></li>
		<li><img src="{% static '/img/company/catherine.jpg' %}" alt="Catherine Rakkar"><div><h2>Catherine Rakkar</h2><h3>Sales Manager</h3></div></li>
		<li><img src="{% static '/img/company/dennis.jpg' %}" alt="Dennis Cheng"><div><h2>Dennis Cheng</h2><h3>Titles, Aux Title</h3></div></li>
	</ul>	
	<ul class="columns four">
		<li><img src="{% static '/img/company/allen.jpg' %}" alt="Allen Tsai"><div><h2>Allen Tsai</h2><h3>VP of Products</h3></div></li>
		<li><img src="{% static '/img/company/tim.jpg' %}" alt="Tim Mahler"><div><h2>Tim Mahler</h2><h3>Titles, Aux Title</h3></div></li>
		<li><img src="{% static '/img/company/brian.jpg' %}" alt="Brian Wang"><div><h2>Brian Wang</h2><h3>Android Developer</h3></div></li>
		<li><img src="{% static '/img/company/adit.jpg' %}" alt="Adit Kaul"><div><h2>Adit Kaul</h2><h3>Sales Manager</h3></div></li>
	</ul>
</div>-->
{% endblock content %}