{% extends "base.html" %}
{% block title %}— Thanks for talking to us.{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
<script id="addJS">
jQuery(document).ready(function($) {
	  $('nav a[href^="/contact.html"]').addClass('active');	  
	});
</script>
{% endblock scripts %}

{% block content %}	
	<section class="row" id="landing-intro">
		<div class="mastheadtext">
			<h1>Thanks for talking to us</h1>
			<p>We try and answer all our inquiries as fast as possible.</p>
			<a class="btn-primary mt-large" href="index.html">Take me back home</a>
		</div>
	</section>
{% endblock content %}