{% extends "base.html" %}
{% block title %}— Home{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
<script id="addJS">
jQuery(document).ready(function($) {
	  $('nav li a[href^="contact"]').addClass('active');	
	});
</script>
{% endblock scripts %}

{% block content %}	
	<section id="features">
		<div class="container">
			<div class="row content">
				<form id="contactus" method="post" action="contact-form-handler.php">
					<div class="columns four">
						<input type="text" class="input-field" name="name" placeholder="Full Name">
						<input type="email" class="input-field" name="email" placeholder="Email Address">
						<input type="text" class="input-field" name="phone" placeholder="Phone Number">
					</div>
					<div class="columns eight">
						<textarea name="message" class="input-field" placeholder="Message"></textarea>
						<input type="submit" name="submit" id="submit" value="Send" />  
					</div>
				</form>
			</div>
			
		</div>
	</section>
	{% endblock content %}