{% extends "base.html" %}
{% block title %}— Give 5 Get 5 Terms and Conditions{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
{% endblock scripts %}

{% block content %}	
<div class="row">
	<h1>Anyone Can Refer a Friend:</h1>
	<p>Any user who is registered with TasteBud can refer a friend. You do not need to have ever bought a deal on TasteBud to refer a friend. You cannot refer yourself, or another account that belongs to you. A friend is eligible to receive/use a referral code only if said friend has never made a qualifying purchase before.</p>
	
	<h1>Receiving and Redeeming TasteBud Credits:</h1>
	<p>You will receive TasteBud credit after your referral has made a qualifying purchase. Once one of your referrals successfully completes a qualifying purchase, you will be credited with the appropriate amount. All of your earned TasteBud credit will be automatically applied to your next purchase when you enter the appropriate referral/promo code on the Purchase Confirmation page. TasteBud referral credits cannot be combined with additional referral or promo codes. Referral credits expire after one year from the date that any referral credits are last accrued in your account.  A referee can redeem a referral code only once from any referrer. A referrer can redeem TasteBud referral credit as long as said credit is valid in the account.</p>
	
	<h1>Qualifying Purchase:</h1>
	<p>A qualifying purchase is one which a deal/voucher is confirmed and purchased on the TasteBud app.</p>
	
	<h1>Multiple Referrals:</h1>
	<p>If your referral was also referred by another user, you will receive the referral credit after said referral makes a qualifying purchase using your referral code at Purchase Confirmation. If your referral uses a different referral code when they make their Qualifying Purchase, you will not receive TasteBud credit</p>
	
	<h1>Limited Time Only:</h1>
	<p>This incentive program is valid for a limited time only. The availability, requirements, and incentives are subject to change at  TasteBud's (by Azul Mobile, Inc) discretion.</p>
	
	<p>We reserve the right to suspend your account and remove referrals should we notice any activity we deem to abuse the referral program.</p>
</div>
{% endblock content %}