{% extends "base.html" %}
{% block title %} — Home{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
<script id="addJS">
jQuery(document).ready(function($) {
	  $('a.home').addClass('active');  
	});
</script>
{% endblock scripts %}

{% block content %}	
<div class="row content">
    <div class="columns four screenshot">
			<img src="{% static '/img/ss1.png' %}" style="float: left" alt="" />
    </div>
    <ul class="columns four features">
    	<li>
    		<h4>Discover Deals</h4>
    			<p>Find great deals at popular local restaurants, and look for even steeper discounts during off-peak/happy hours!</p>
    	</li>
    	<li>
    		<h4>Restaurants Compete</h4>
    		<p>Watch as bids come in from restaurants fighting to get your business! The best deals sell out fast, and prices can go up, so act quickly!
    		</p>
    	</li>
    	<li>
    		<h4>Buy and Redeem</h4>
    		<p>Lock in your deals by buying directly through the app. You get vouchers that are good for anything on the menu, unlike those other apps! Just show the QR code voucher at check-out!</p>
    	</li>
   </ul>
    <div class="columns four screenshot">
    	<img src="{% static '/img/ss2.png' %}" style="float: right" alt="" />
    </div>
 </div>
</div>
{% endblock content %}