{% extends "base.html" %}
{% block title %} — Home{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
<script id="addJS">
jQuery(document).ready(function($) {
	  $('nav li a[href^="partners"]').addClass('active');
	});
</script>
{% endblock scripts %}

{% block content %}	
<div class="row">
   <p>TasteBud actively curates a diverse selection of restaurants, bars, food trucks, and cafés throughout Austin. Our community is always expanding, and we would be glad to welcome your venue to our family!</p>
   <a class="button" href="http://merchants.trytastebud.com/signup">Apply Now</a>
</div>
<div class="row lists">
	<ul class="columns four partners">
		<li><a href="http://www.saopaulos.net">Sao Paulo's</a></li>
		<li><a href="http://tap24austin.com">Tap 24</a>
		<li><a href="http://www.theaustinalehouse.com">Austin Ale House</a></li>
		<li><a href="http://www.fuzzystacoshop.com">Fuzzy’s Taco Shop</a></li>
		<li><a href="http://www.jalopyaustin.com">The Jalopy Rotisserie</a></li>
		<li><a href="http://www.yelp.com/biz/janitzio-mexican-restaurant-austin">Janitzio’s</a></li>
		<li><a href="http://veggieheavenaustin.com">Veggie Heaven</a></li>
	</ul>
	<ul class="columns four partners">
		<li><a href="http://pitapitusa.com">Pita Pit</a></li>
		<li><a href="http://www.kebabalicious.com">Kebabalicious</a></li>
		<li><a href="http://www.qdoba.com">Qdoba</a></li>
		<li><a href="http://www.yelp.com/biz/sushi-niichi-austin">Sushi Niichi</a></li>
		<li><a href="http://www.downtownburgers.com">Downtown Burgers</a></li>
		<li><a href="http://www.thaihowareyou.com">Thai, How are you?</a></li>
		<li><a href="http://www.yelp.com/biz/atx-boudain-hut-austin">ATX Boudain Hut</a></li>
	</ul>
	<ul class="columns four partners">
		<li><a href="http://www.omnihotels.com/hotels/austin-downtown/dining/anchos">Ancho's</a>
		<li><a href="http://www.cedardooraustin.com">Cedar Door</a></li>
		<li><a href="http://mellowmushroom.com">Mellow Mushroom</a></li>
		<li><a href="http://www.yelp.com/biz/delicious-thai-austin">Delicious Thai</a></li>
		<li><a href="http://bigbiterestaurant.com">Big Bite</a></li>
		<li><a href="http://thehotboxdiner.com">The Hot Box Diner</a></li>
	</ul>
</div>
{% endblock content %}