{% extends "base.html" %}
{% block title %} — Privacy Policy{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
{% endblock scripts %}

{% block content %}	
<div class="row">
	<h1>PRIVACY POLICY</h1>
	<p>This Privacy Policy sets forth the policy of Azul Mobile, Inc. ("Azul", "us," "we") with respect to information, including personally identifiable data such as first and last name, address, e-mail address, telephone number or social security number ("Personal Data"), and other information that is collected when you access and/or use the Azul Websites, http://www.azul.me and http://merchants.azul.me (the "Websites"), the Azul Mobile applications on iOS (e.g., iPad, iPhone), Android and any other mobile platform (the "Mobile Apps"), and any Azul services or content provided via the Websites, Mobile Apps or Mobile Apps (collectively, the "Services").
	<br /> <br />
	<h1>Information We Collect</h1>
	<p>When you interact with us through the Websites, Mobile Apps or the Services, we may collect Personal Data and other information from you, as further described below:<br />
	<p>Personal Data That You Provide Through the Websites or Mobile Apps: We collect Personal Data from you when you voluntarily provide such information such as when you register for access to the Services (for example, contact information such as your name, email address, and mailing address) and when you wish to use certain Services (for example financial information such as bank account numbers, your date of birth and last 4 digits of you social security number), and when you contact us with inquiries or respond to one of our surveys. 
	 <br /> <br />
	<p>By voluntarily providing us with Personal Data, you are consenting to our use of it in accordance with this Privacy Policy. If you provide Personal Data, you acknowledge and agree that such Personal Data may be transferred from your current location to the offices and servers of Azul and the authorized third parties referred to herein located around the world.
	 <br /> <br />
	<p>Non-Identifiable or Aggregated Data: When you interact with Azul through the Websites, Mobile Apps or Services, we receive and store certain non-identifiable information about you. Such information, which may be collected passively using various technologies or through other means, cannot be used to specifically identify you.
	 <br /> <br />
	<p>As is true of most web sites, we gather certain information automatically and store it in log files. This information includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data. Azul may store such information itself or such information may be included in databases owned and maintained by Azul affiliates, agents or service providers. The Websites may use such information and pool it with other information to track, for example, the total number of visitors to the Websites, the number of visitors to each page of the Websites, the domain names of our visitors' Internet service providers, and how our users use and interact with the Services. Also, in an ongoing effort to better understand and serve the users of the Services, Azul often conducts research on its customer demographics, interests and behavior based on the Personal Data and other information provided to Azul.
	 <br /> <br />
	<p>This research may be compiled and analyzed on an aggregate basis. Azul may share this non-identifiable and aggregate data with its affiliates, agents and business partners, but this type of non-identifiable and aggregate information does not identify you personally. Azul may also disclose aggregated user statistics in order to describe the Services to current and prospective business partners and to other third parties for other lawful purposes.
	 <br /> <br />
	<p>In operating the Websites, we may also use a technology called "cookies." A cookie is a piece of information that the computer that hosts the Websites gives to your browser when you access the Websites. Our cookies help provide additional functionality to the Websites and help us analyze Websites usage more accurately. For instance, the Websites may set a cookie on your browser that allows you to access the Websites without needing to remember and then enter a password more than once during a visit to the Websites. In all cases in which we use cookies, we will not collect Personal Data except with your permission. On most web browsers, you will find a "help" section on the toolbar. Please refer to this section for information on how to receive notification when you are receiving a new cookie and how to turn cookies off. We recommend that you leave cookies turned on because they allow you to take advantage of some of the Websites's features.
	 <br /> <br />
	<p>The use of cookies by any of our affiliates or service providers is not covered by our privacy policy. We do not have access or control over these cookies. Our partners use session ID cookies to make it easier for you to navigate our site and use the Services.
	 <br /> <br />
	<h1>The Websites Uses Google Analytics and AdWords.</h1>
	<p>The Websites uses Google Analytics to track viewing trends and help analyze how visitors use the Websites. This information will help us to improve the Websites and the overall user experience. Google Analytics uses cookies to collect standard internet log information and visitor behavior information in an anonymous form. None of the information gathered is personally identifiable in nature without your expressed permission. The Websites also uses the Google AdWords remarketing service to advertise Azul on third party Websitess to previous visitors of the Websites. Google AdWords remarketing will display relevant ads tailored to you by using a cookie that helps track what parts of the Websites you have viewed. Google AdWords remarketing allows us to tailor our marketing efforts to better suit your needs and display ads that are most relevant to your interests.
	 <br /> <br />
	<h1>Our Use of Your Personal Data and Other Information</h1>
	<p>Azul uses the Personal Data you provide in a manner that is consistent with this Privacy Policy. If you provide Personal Data for a certain reason, we may use the Personal Data in connection with the reason for which it was provided. For instance, if you contact us by email, we will use the Personal Data you provide to answer your question or resolve your problem. Also, if you provide Personal Data in order to obtain access to the Services, we will use your Personal Data to provide you with access to such services and to monitor your use of such services. We also may obtain information about you from third party sources to verify your identity so we can properly process your requests and prevent fraud. By accessing the Websites or Mobile Apps and using the Services, you hereby explicitly consent that we may use your submitted and obtained Personal Information for such purposes.
	 <br /> <br />
	<p>Azul and its subsidiaries and affiliates (the "Related Companies") may also use your Personal Data and other personally non-identifiable information collected through the Websites or Mobile Apps to help us improve the content and functionality of the Websites or Mobile Apps, to better understand our users and to improve the Services. Azul and its Related Companies may use this information to communicate with you regarding the Services or to tell you about services we believe will be of interest to you. If at any time you wish not to receive any future marketing communications or you wish to have your name deleted from our mailing lists, please contact us as indicated below. Note however that as user of the Services we will send you administrative communications that are reasonably necessary to the Services, such as billing or service notifications.  If Azul intends on using any Personal Data in any manner that is not consistent with this Privacy Policy, you will be informed of such anticipated use prior to or at the time at which the Personal Data is collected.
	 <br /> <br />
	<h1>Our Disclosure of Your Personal Data and Other Information</h1>
	<p>We will share personal and other information with third parties only in the ways that are described in this privacy policy. We consider this information to be a vital part of our relationship with you. There are, however, certain circumstances in which we may share your Personal Data and other information with certain third parties without further notice to you, as set forth below: <br /> <br />
	<p>Business Transfers: As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution or similar event, Personal Data may be part of the transferred business or assets. 
	<br /> <br />
	<p>Related Companies: We may also share your Personal Data with our Related Companies for purposes consistent with this Privacy Policy. 
	<br /> <br />
	<p>Agents, Consultants and Related Third Parties: Azul, like many businesses, sometimes hires other companies to perform certain business-related functions. Examples of such functions include mailing information, maintaining databases, ID verification, processing applications, shipping and fulfillment, and processing payments and completing transactions. When we employ another company to perform a function of this nature, we only provide them with the information that they need to perform their specific function. These companies are authorized to use your personal information only as necessary to provide these services to us.
	 <br /> <br />
	<p>Legal Requirements: Azul may disclose your Personal Data if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation, (ii) protect and defend the rights or property of Azul, (iii) act in urgent circumstances to protect the personal safety of users of the Websites, Mobile Apps or the public against fraud or other harm, or (iv) protect against legal liability.
	<h1>Your Choices</h1>
	<p>If your personal information changes, or if you no longer desire our service, you may correct, update, amend, delete or request deletion by making the change in your registered account settings page, by emailing our Customer Support at contact@azul.me or by contacting us at the contact information listed below. We will respond to your request to access within 30 days. <br /> <br />
	<p>We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. <br /> <br />
	<p>When you sign up for the Services or our newsletter(s), we will send periodic emails to you regarding the Services or to tell you about services we believe will be of interest to you. Out of respect for your privacy, you may choose to stop receiving our newsletter or marketing emails by following the unsubscribe instructions included in these emails or you can contact us at contact@azul.me 
	<h1>Third Party Tracking</h1>
	<p>Third parties, including linked sites and applications (e.g., Facebook and YouTube), customer support services and data analytics services, may collect information about you in connection with your use of the Websites or Mobile Apps (e.g., usage information).  Such third parties may use tracking technologies in connection with the Websites or Mobile Apps, which may include the collection of information about your online activities over time and across third-party web sites or online services.  In some cases, third party tracking tools may only collect non-identifiable information about your use on the Websites or Mobile Apps.  However, in other cases, such third parties may collect Personal Data about you as they engage in these activities (e.g., customer support services may obtain your name and email address in conjunction with their support activities).  <br /> <br /> 
	<p>Currently, we do not monitor or take any action with respect to Web browser signals or other mechanisms for the expression of choice regarding collection of information about an individual over time and across third-party web sites or online services (e.g., Web browser "do not track" signals).
	<h1>Security</h1>
	<p>The security of your personal information is important to us. We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Websites or Mobile Apps, you can contact us at contact@azul.me.
	<h1>Exclusions</h1>
	<p>This Privacy Policy does not apply to any Personal Data collected by Azul other than Personal Data collected through the Websites, Mobile Apps or Services. This Privacy Policy shall not apply to any unsolicited information you provide to Azul through the Websites, Mobile Apps or through any other means. This includes, but is not limited to, information posted to any public areas of the Websites, such as bulletin boards (collectively, "Public Areas"), any ideas for new products or modifications to existing products, and other unsolicited submissions (collectively, "Unsolicited Information"). All Unsolicited Information shall be deemed to be non-confidential and Azul shall be free to reproduce, use, disclose, distribute and exploit such Unsolicited Information without limitation or attribution.
	<h1>Blog</h1>
	<p>Our Websites may offer a publicly accessible blog.  You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. To request removal of your personal information from our blog, contact us at contact@azul.me. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why.
	<h1>Testimonials</h1>
	<p>We may display personal testimonials of satisfied customers on our site in addition to other endorsements. With your consent we may post your testimonial along with your name and other information. If you wish to update or delete your testimonial, please contact us at contact@azul.me. 
	<h1>Social Media Features</h1>
	<p>You can log in to the Websites or Mobile Apps using sign-in services such as Facebook Connect or LinkedIn.  These services will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre-populate our sign up form. Services like Facebook Connect give you the option to post information about your activities on the Websites to your profile page to share with others within your network.
	 <br /> <br />
	<p>The Websites also includes social media features such as the Facebook Like button, Twitter, and Add This button. These features are interactive mini-programs and may collect your IP address, which page you are visiting on the Websites, and may set a cookie to enable the social media feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on the Websites. Your interactions with these features are governed by the privacy policy of the company providing it.
	<h1>Children</h1>
	<p>Azul does not knowingly collect Personal Data from children under the age of 13. If you are under the age of 13, please do not submit any Personal Data through the Websites or Mobile Apps. We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Data on the Websites without their permission. If you have reason to believe that a child under the age of 13 has provided Personal Data to Azul through the Websites, please contact us, and we will endeavor to delete that information from our databases.
	<h1>Links to Other Web Websites</h1>
	<p>This Privacy Policy applies only to the Websites and Mobile Apps. The Websites may contain links to other web sites not operated or controlled by Azul (the "Third Party Websites"). The policies and procedures we described here do not apply to the Third Party Websitess. The links from the Websites or Mobile Apps do not imply that Azul endorses or has reviewed the Third Party Websites. We suggest contacting those sites directly for information on their privacy policies.
	<h1>Other Terms and Conditions</h1>
	<p>Your access to and use of the Websites and Mobile Apps is subject to the Terms of Use.
	<h1>Changes to Azul's Privacy Policy</h1>
	<p>We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on the Websites prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.
	<h1>Contacting Azul</h1>
	<p>Please feel free to contact us if you have any questions about Azul's Privacy Policy or the information practices of the Websites and Mobile Apps:
	<br />
	Azul Mobile, Inc.<br />
	2607 Euclid Avenue<br />
	Austin, TX 78704<br />
	</p>
	<p>Effective Date: 03/17/2014</p>
</div>
{% endblock content %}