{% extends "base.html" %}
{% block title %} — Terms of Service{% endblock title%}

{% block css %}	
{% endblock css %}	

{% block scripts %}
{% endblock scripts %}

{% block content %}	
<div class="row">
	<h1>Terms and Conditions</h1> 
	<p>Please read the following terms and conditions of use ("Terms of Use").  These Terms of Use form a contract between you and Azul Mobile, Inc. ("Azul") that governs your access to and use of the Azul Websites, http://www.azul.me and http://merchants.azul.me (the "Websites"), the Azul mobile applications on iOS (e.g., iPad, iPhone), Android and any other mobile platform (the "Mobile Apps"), and any Azul services or content provided via the Websites or Mobile Apps (collectively, the "Services").  By using the Services or accessing either the Websites or Mobile Apps, you agree to be bound by these Terms of Use.  Azul reserves the right to modify or discontinue the Websites, Mobile Apps, or Services, and to modify or terminate these Terms of Use, at any time, without notice, except as required by applicable law.  Any modified terms and conditions will be effective upon posting on the Websites, except where a longer notice period is required by applicable law.  By continuing to use or access the Websites, Mobile Apps and/or Services after Azul makes any such modifications, you agree to be bound by the revised Terms of Use.</p>
	<p>YOU UNDERSTAND THAT BY USING THE WEBSITES, MOBILE APPS OR SERVICES, YOU ARE AGREEING TO BE BOUND BY THESE TERMS OF USE.  IF YOU DO NOT AGREE TO THESE TERMS OF USE, YOU MAY NOT ACCESS OR USE THE WEBSITES, MOBILE APPS OR SERVICES.</p>
	<h1>Ownership and Permitted Use</h1>
	<p>The Websites and Mobile Apps are owned and operated by Azul, and the Services (and all intellectual property and other rights relating thereto) are and will remain the property of Azul and its licensors.  The Websites, Mobile Apps, and Services are protected by U.S. and international copyright, trademark, and other laws, and you acknowledge that these rights are valid and enforceable.  Except as set forth in these Terms of Use, you may not copy, reproduce, modify, adapt, translate, republish, upload, post, transmit, distribute, sub-license, sell, reverse engineer, decompile, or disassemble any part of the Websites or any Service without the prior written permission of Azul.  You acknowledge that you do not acquire any ownership rights by using the Websites, Mobile Apps, or Services.  The Websites, Mobile Apps, and Services may be used solely (a) to the extent permitted in these Terms of Use or (b) as expressly authorized in writing by Azul.  At all times, access and use of the Websites, Mobile Apps, and Services are restricted to only lawful purposes.</p>
	<p>Azul reserves the right at any time and from time to time to modify, discontinue, temporarily or permanently, the Websites, Mobile Apps, and/or Services, or any part or portion thereof, with or without notice to you.  You agree that Azul shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Websites, Mobile Apps, and/or Services, or any part of portion thereof.  Nothing in these Terms of Use shall be construed to obligate Azul to maintain and support the Websites, Mobile Apps, and/or Services, or any part or portion thereof.</p>
	<p>The trademarks, logos, and service marks displayed on the Websites and Mobile Apps (collectively, the "Trademarks") are the registered and unregistered trademarks of Azul and/or others.  Nothing contained in these Terms of Use or the Websites should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Trademark(s) without the express written permission of Azul or the third-party owner of any such Trademark.</p>
	<h1>User Registration</h1>
	<p>Browsing of the Websites or Mobile Apps' public pages is provided free of charge to any person.  However, access to the Services will require you to register with Azul and provide certain information.  If you provide information to Azul, you agree to (a) provide accurate, current and complete information about yourself as prompted (including your email address) and (b) maintain and update your information (including your email address) to keep it accurate, current and complete.  You acknowledge that, if any information provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to terminate your use of the Websites and/or Services.  We reserve the right to decline to provide Services to any person for any or no reason.</p>
	<p>In order to use the Services, you may be asked to sign into your account on certain social networking sites and authorize Azul to access information from those sites (see Submitted Content below) so that Azul can create your prioritized information feed. For information about what data Azul collects, stores and uses, please see our Privacy Policy http://www.azul.me/privacy.  Azul's Privacy Policy may not be consistent with the privacy policy or tools used on the social networking sites that you provide access to.  Please review the policy to ensure your familiarity and comfort with our policies.</p>
	<h1>Submitted Content</h1>
	<p>You agree that any ideas, feedback, information, materials or content that you provide, submit, upload or otherwise transmit or make available to Azul ("User Content") will be available for our use, and you hereby (a) grant to Azul a royalty-free, non-exclusive, worldwide license to reproduce, distribute, publicly display, and create derivative works of any User Content in connection with the Services, by any means and in all media now known or hereafter devised, without payment to you or any third party; (b) waive all moral rights in the User Content which may be available to you; (c) represent that you are the owner of such User Content or otherwise have the authority to grant the license granted above; and (d) confirm that no such User Content is subject to any obligation, of confidence or otherwise, to you or any third party, and that Azul shall not be liable for any use or disclosure of such User Content.</p>
	<h1>Acceptable Use Policy</h1>
	<p>You agree to abide by all applicable local, state, national and foreign laws, rules and regulations in connection with your use of the Websites, Mobile Apps and Services. In addition, you agree that you will not do any of the following while using or accessing the Websites, Mobile Apps, or Services:</p>
	<ul>
	<li>Disable, hack, circumvent or otherwise interfere with security-related features of the Websites or Mobile Apps, or with any features that prevent or restrict use or copying of any Azul content or materials;</li>
	<li>Use any metadata, meta tags or other hidden text utilizing a Azul name, trademark, URL or product name;</li>
	<li>In any way use the Websites, Mobile Apps, or Services to send altered, deceptive or false source-identifying information;</li>
	<li>Use any scripts, programs or other automated means to access the Websites, Mobile Apps, or Services, or otherwise engage in any ‘data scraping' or data gathering practices with respect to the Websites, Mobile Apps, or Services;</li>
	<li>Upload, submit, post, email, or otherwise transmit, via the Websites, Mobile Apps, or Services, any content or materials that are unlawful, harmful, threatening, obscene, harassing, defamatory or hateful or that contain objects or symbols of hate, invade the privacy of any third party, are deceptive, threatening, abusive, inciting of unlawful action, defamatory, libelous, vulgar or violent or constitute hate speech or are otherwise objectionable in the sole opinion of Azul;</li>
	<li>Destroy, interfere with or disrupt (or attempt to interfere with or disrupt) any web pages available at the Websites and/or Mobile Apps, servers or networks connected to the Websites and/or Mobile Apps, or the technical delivery systems of Azul's providers or break any requirements, procedures, policies or regulations of networks connected to the Websites or Mobile Apps;</li>
	<li>Attempt to scan, probe or test the vulnerability of any Azul system or network or breach or impair or circumvent any security or authentication measures protecting and providing security for the Websites, Mobile Apps, or Services;</li>
	<li>Attempt to decompile, disassemble, decipher or reverse engineer any of the software used to provide the Websites, Mobile Apps, or Services;</li>
	<li>Attempt to search, meta-search or access the Websites and/or Mobile Apps with any engine, software, tool, agent, device or mechanism other than software and/or </li>search agents provided by Azul or other generally available third-party web browsers (such as Microsoft Internet Explorer, Mozilla Firefox, Safari or Opera) or </li>platforms, including any software that sends queries to the Websites to determine how a Websites or web page ranks;</li>
	<li>Collect or store personal data about other users of the Websites, Mobile Apps, or the Services without their express and explicit permission;</li>
	<li>Misrepresent or impersonate your affiliation with any person or entity, or otherwise commit fraud;</li>
	<li>Use the Websites, Mobile Apps, or Services in any manner not permitted by these Terms of Use; or</li>
	<li>Instruct or encourage any other individual to do any of the foregoing or to break and/or violate any term of these Terms of Use.</li>
	</ul>
	<h1>No Use By Children Under 13</h1>
	<p>You hereby affirm that you are at least 13 years old, as the Websites is not intended for use by children under 13 years of age.  If you are under 13 years of age, please do not use the Websites, Mobile Apps, or Services.</p>
	<p>Azul wishes to inform you that parental control protections (such as computer hardware, software or filtering services) are commercially available that may assist you in limiting access to material that is harmful to minors.  Information identifying current providers of such protections is available at the Websites of GetNetWise.org (http://www.getnetwise.org/).</p>
	<h1>Third-Party Links</h1>
	<p>The Websites may contain links to third-party Websites for your convenience.  Azul does not control such linked Websites or the content provided through such Websites, and Azul has not reviewed, in their entirety, such Websites. Your use of such linked Websites is subject to the privacy practices and terms of use established by each such linked Websites, and Azul disclaims all liability for such use.  Such links do not indicate any approval or endorsement by Azul of any such linked Websites or any material contained on any such linked Websites, and Azul disclaims any such approval or endorsement.  Further, descriptions of, or references to, third-party products, services or publications within the Websites do not imply endorsement of, and Azul is not responsible for and disclaims any endorsement of, any such product, service or publication.</p>
	<h1>Warranty Disclaimer</h1>
	<p>THE WEBSITES, MOBILE APPS AND SERVICES ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, ACCURACY, COMPLETENESS, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ANY WARRANTIES THAT MAY ARISE FROM COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE, AND ANY WARRANTIES THAT THE INFORMATION AND WEBSITES IS CURRENT AND/OR UP-TO-DATE ARE HEREBY EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW.</p>
	<p>THERE IS NO WARRANTY, REPRESENTATION OR GUARANTEE THAT THE WEBSITES, MOBILE APPS AND/OR SERVICES, OR YOUR USE OF THE WEBSITES, MOBILE APPS AND/OR SERVICES WILL BE UNINTERRUPTED, COMPLETE, ACCURATE, CURRENT, RELIABLE, ERROR-FREE, SECURE, OR THAT ANY PROBLEMS WILL BE CORRECTED, OR THAT THE WEBSITES, MOBILE APPS AND/OR SERVICES OR ANY INFORMATION, SOFTWARE OR OTHER MATERIAL ACCESSIBLE FROM THE WEBSITES, MOBILE APPS AND/OR SERVICES IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.  AZUL DOES NOT WARRANT, GUARANTEE, OR MAKE ANY REPRESENTATION REGARDING THE USE OF, OR THE RESULTS OF THE USE OF THE WEBSITES, MOBILE APPS AND/OR SERVICE, EITHER IN TERMS OF ITS COMPATIBILITY WITH HARDWARE OR OTHER SOFTWARE OR EQUIPMENT, AND YOU ASSUME ALL RESPONSIBILITY AND RISK FOR YOUR USE OF THE WEBSITES, MOBILE APPS AND/OR SERVICES AND INFORMATION AND YOUR RELIANCE THEREON.</p>
	<h1>Limitation of Liability</h1>
	<p>NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY OF ANY KIND, NEITHER AZUL NOR ANY OF ITS LICENSORS, SPONSORS, AGENTS, SUCCESSORS, ASSIGNS, DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS, OR OTHER REPRESENTATIVES ARE RESPONSIBLE OR LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING OUT OF OR RELATING IN ANY MANNER TO THE WEBSITES, MOBILE APPS, AND/OR SERVICES, OR ANY LINKED WEBSITES, WHETHER OR NOT AZUL HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGES.  YOUR SOLE REMEDY WITH RESPECT TO THIS WEBSITES, MOBILE APPS, SERVICES OR ANY LINKED WEBSITES IS TO STOP USING THE WEBSITES, MOBILE APPS, SERVICES OR LINKED WEBSITES, AS APPLICABLE.  THE SOLE AND EXCLUSIVE MAXIMUM LIABILITY OF AZUL TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE ARISING OUT OF OR RELATING TO THE WEBSITES, MOBILE APPS, SERVICES OR ANY LINKED WEBSITES SHALL BE $100.</p>
	<h1>Indemnification</h1>
	<p>You agree that you will indemnify and hold harmless, and upon Azul's request, defend, Azul and its directors, officers, shareholders, employees and agents from and against any and all losses, liabilities, damages, costs, expenses (including reasonable counsel fees), actions, suits and claims arising from any breach of any of your obligations, representations or warranties in these Terms of Use.  If Azul asks you to defend any such action, suit or claim, Azul will have the right, at its own expense, to participate in the defense thereof.  You will not settle any third-party claims for which Azul is entitled to indemnification without the prior written approval of Azul.</p>
	<h1>Privacy Policy</h1>
	<p>You understand that any personal information you submit to Azul via the Websites, Mobile Apps and/or Services will be treated by Azul in the manner described in the Azul Privacy Policy, available at http://www.azul.me/privacy.</p>
	<h1>Copyright Policy</h1>
	<p>The Digital Millennium Copyright Act (the "DMCA") provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. copyright law.  </p>
	<p>If you believe in good faith that materials on the Azul Websites infringe your copyright, you (or your agent) may send us a notice requesting that the material be removed, or access to it blocked.  </p>
	<p>The notice must include the following information: (a) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (b) identification of the copyrighted work claimed to have been infringed (or if multiple copyrighted works located on the Websites are covered by a single notification, a representative list of such works); (c) identification of the material that is claimed to be infringing or the subject of infringing activity, and information reasonably sufficient to allow Azul to locate the material on the Websites or Mobile App; (d) the name, address, telephone number, and email address (if available) of the complaining party; (e) a statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (f) a statement that the information in the notification is accurate and, under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
	<p>Notices must meet the then-current statutory requirements imposed by the DMCA; see http://www.loc.gov/copyright for details.  Notices and counter-notices with respect to the Websites should be sent to:</p>
	<p>Copyright Agent<br />
	Azul Mobile, Inc.<br />
	2607 Euclid Avenue<br />
	Austin, TX 78704<br />
	contact@azul.me</p>
	<p>We suggest that you consult your legal advisor before filing a notice. Also, be aware that there can be penalties for false claims under the DMCA.</p>
	<h1>Non-U.S. Users</h1>
	<p>Azul makes no representation that the Websites, Mobile Apps, or Services operate (or are legally permitted to operate) in all geographic areas, or that the Websites, Mobile Apps, or Services are appropriate or available for use in other locations.  Accessing the Websites, Mobile Apps, or Services from territories where the Websites, Mobile Apps, or Services, or any content or functionality of the Websites, Mobile Apps, or Services, or portion thereof, is illegal is expressly prohibited.  If you choose to access the Websites, Mobile Apps, or Services, you agree and acknowledge that you do so on your own initiative and at your own risk and that you are solely responsible for compliance with all applicable laws.</p>
	<h1>Term and Termination</h1>
	<p>These Terms of Use are effective from the date that you first access the Websites, Mobile Apps, or Services or submit any information to Azul via the Websites, Mobile Apps, or Services, whichever is earlier, and shall remain effective until terminated in accordance with these Terms of Use.  Azul may immediately terminate these Terms of Use, and/or your access to and use of the Websites, Mobile Apps, and/or Services, or any portion thereof, at any time and for any reason, with or without cause, without prior notice.  Azul may also terminate these Terms of Use immediately if you fail to comply with any term or provision of these Terms of Use.  Upon termination of these Terms of Use by either party, your right to use the Websites, Mobile Apps, and Services shall immediately cease, and you shall destroy all copies of information that you have obtained from the Websites, Mobile Apps or Services, whether made under the terms of these Terms of Use or otherwise.  All disclaimers and all limitations of liability, and all Azul rights of ownership, shall survive any termination or expiration of these Terms of Use.</p>
	<h1>Dispute Resolution/Governing Law</h1>
	<p>These Terms of Use shall be governed by and construed in accordance with the laws of the State of California, excluding that body of law relating to conflict of laws.  The parties agree that any controversy or claim arising out of or relating to these Terms of Use, or the breach thereof, will be settled by binding arbitration in accordance with California Code of Civil Procedure Section 1280 et seq., and the then-current rules and procedures of JAMS.  The arbitration shall be a confidential proceeding, closed to the general public.  The arbitration will take place in San Francisco County, California and be conducted in the English language.  The decision rendered by the arbitrator will be binding upon the parties hereto, and any judgment upon the award rendered by the arbitrator may be entered in any court having jurisdiction thereof.  The parties consent to the jurisdiction of all federal and state courts in California.  Venue will lie exclusively in San Francisco County, California.  For the sake of clarity, nothing in this paragraph shall affect Azul's ability to seek from a court injunctive or equitable relief at any time.</p>
	<p>If any arbitration or other proceeding is brought to enforce or interpret these Terms of Use or matters relating to it, the substantially prevailing party, as determined by the arbitrator's award, will be entitled to recover reasonable attorneys' fees and other costs and expenses incurred in such arbitration or proceeding from the other party, in addition to any other relief to which such prevailing party is entitled.</p>
	<h1>Miscellaneous</h1>
	<p>You affirm that you are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Use, and to abide by and comply with these Terms of Use.  If any provision of these Terms of Use is found to be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms of Use and shall not affect the validity and enforceability of any remaining provisions.  These Terms of Use constitute the entire agreement between you and Azul relating to the subject matter herein and supersedes any and all prior or contemporaneous written or oral agreements between you and Azul with respect to such subject matter.  These Terms of Use may not be changed, waived or modified except by Azul as provided herein or otherwise by written instrument signed by Azul.  These Terms of Use or any right, obligation, or remedy hereunder is not assignable, transferable, delegatable, or sublicensable by you except with Azul's prior written consent, and any attempted assignment, transfer, delegation, or sublicense shall be null and void.  Azul may assign, transfer, or delegate these Terms of Use or any right or obligation or remedy hereunder in its sole discretion.  No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default.  Azul shall have no liability under these Terms of Use to the extent arising from any failure of Azul to perform any of its obligations under these Terms of Use due to any fire, flood, earthquakes, other acts of God, war, civil unrest, terrorism, Internet failures, governmental act or court order, national emergency, strikes or labor disputes, or any other event not within Azul's reasonable control.</p>
	<p>Last Updated: 03/17/2014</p>
	
</div>
{% endblock content %}