<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon" />
	
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	<meta name="description" content="TasteBud is an app where local restaurants compete for your dollars. When restaurants compete, our wallets win!" />
	<meta name="keywords" content="TasteBud, azul, mobile, where, companies bid, for your, business, compete, bid, austin, texas, app, Azul App, azul app, Azul Mobile" />
	
	<title>TasteBud {% block title %}{% endblock title%}</title>	
	
	<link href="{% static '/css/reset.css' %}" media="screen" rel="stylesheet" />
	<link href="{% static '/css/smart-grid/smart-grid.css' %}" media="screen" rel="stylesheet" />
	<link href="{% static '/css/universal.css' %}" media="screen" rel="stylesheet" />
	<link href="{% static '/css/slicknav.css' %}" media="screen" rel="stylesheet" />
	
	{% block css %}
	{% endblock css %}
	
	<!--   Typekit Font    -->
	<script src="//use.typekit.net/bnn8viz.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	
	<!--   Import JS     -->   
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="{% static '/js/waypoints.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/waypoints-sticky.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/jquery.slicknav.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/global.js' %}" type="text/javascript"></script>
	
	{% block scripts %}
	{% endblock scripts %}
	
</head>
<body>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	{% include "header.html" %}
	
	<section class="container content">
 			{% block content %}
			 	Main content
			{% endblock content %}
	</section>
	
	{% include "footer.html" %}
		<script src="{% static '/js/retina.min.js' %}" type="text/javascript"></script>
	</body>
</html>
