<!--FOOTER-->
<footer>
	<h1>Connect</h1>
	<div class="container">
		<div class="row">
			<ul class="columns twelve social">
				<li class="facebook"><a href="http://tstbd.me/fb">Facebook</a></li>
				<li class="twitter"><a href="http://tstbd.me/twtr">Twitter</a></li>
				<li class="instagram"><a href="http://tstbd.me/insta">Instagram</a></li>
			</ul>
		</div>
	</div>
	<section class="container">
		<div class="row">
			<h3>© 2014 AZUL Mobile, Inc. | <!--<a href="https://merchants.azul.me" target="_blank">Merchants</a> | <a href="company">Jobs</a> | --><a href="termst">Terms</a> | <a href="privacyt">Privacy</a></h3>
		</div>
	</section>
</footer>	