<header>
	<div class="container">
		<div class="logo">
			TasteBud
		</div>
		<p class="pitch">Eat more, Spend less.</p>
		<ul class="bottomheader">
			<li><a href="http://tstbd.me/play"><img src="{% static '/img/googleplay.png' %}" alt="" /></a></li>
			<li><a href="http://tstbd.me/ios"><img src="{% static '/img/appstore.png' %}" alt="" /></a></li>
		</ul>
		<div class="socialbuttons">
			<a href="https://twitter.com/share" class="twitter-share-button twitterbutton" data-url="http://www.trytastebud.com" data-text="Check out TasteBud, where restaurants compete for your business!" data-via="TryTasteBud" data-size="small" data-related="trytastebud">Tweet</a>
			<div class="fb-like fbbutton" data-href="http://www.facebook.com/trytastebud" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>
	</div>
</header>
<section class="navcontainer container">
	<nav class="navigation">
		<ul class="row">
			<li class="columns two offset-one"><a href="index.html" class="home">Home</a></li>
			<li class="columns two"><a href="http://blog.trytastebud.com">Blog</a></li>
			<li class="columns two"><a href="company">Company</a></li>
			<li class="columns two"><a href="partners">Partners</a></li>
			<li class="columns two"><a href="contact">Contact</a></li>
		</ul>
	</nav>
	<ul class="menu">
		<li><a href="index.html" class="home">Home</a></li>
		<li><a href="http://blog.trytastebud.com">Blog</a></li>
		<li><a href="company">Company</a></li>
		<li><a href="partners">Partners</a></li>
		<li><a href="contact">Contact</a></li>
	</ul>
</section>