<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>TasteBud {% block title %}{% endblock title%}</title>	
		
	<meta name="keywords" content="" />   
	<meta name="description" content="" />
	
	<link href="{% static '/css/styles.css' %}" media="screen" rel="stylesheet" />
	
	<link href="{% static '/css/gallery.min.css' %}" media="screen" rel="stylesheet" />
	<link href="{% static '/css/gallery.theme.css' %}" media="screen" rel="stylesheet" />

	
	{% block css %}
	{% endblock css %}
	
	<!--   Typekit Font    
	<script type="text/javascript" src="//use.typekit.net/htv1tfe.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>--> 
	
	<!--   Import JS     -->   
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{% static '/js/jquery.colorbox.min.js' %}"></script>
  <script src="{% static '/js/waypoints.min.js' %}"></script>
  <script src="{% static '/js/waypoints-sticky.min.js' %}"></script>
  <script src="{% static '/js/jquery.validate.min.js' %}"></script>

  <script src="{% static '/js/global.js' %}"></script>
	
	{% block scripts %}
	{% endblock scripts %}
</head>
<body>
 	{% block content %}
 	Main content
	{% endblock content %}
	<script src="{% static '/js/retina.js' %}"></script>
	</body>
</html>
