@import "bourbon"
@import ../variables
				
footer
	display: block
	height: auto
	min-width: 100%
	top: 0
	left: 0
	position: relative
	background: $light
	padding: 0 !important
	margin: 0
	color: $dark
	
	.container
		padding: 0
		
		.row
			padding: 0

	h1
		background: transparent
		color: $medium
		
	h3 
		color: $medium
		
	a
		color: $medium

	ul
		text-align: center
		
		li
			padding: 0
			margin: 0 8px
			height: 64px
			width: 64px
			display: inline-block

			a
				height: 64px
				width: 64px
				display: inline-block
				color: transparent
				text-indent: -1000000000000em
				color: $medium

		li.facebook 
			a	
				background: url('../img/facebook.png') no-repeat
				background-size: 64px 64px
				@include transition (background 0.2s ease-out)
				@include image-2x("../img/facebook@2x.png", 64px, 64px)
				
				&:hover
					background: url('../img/facebook_hover.png') no-repeat
					background-size: 64px 64px
					@include transition (background 0.2s ease-out)
					@include image-2x("../img/facebook_hover@2x.png", 64px, 64px)
		
	
		li.twitter 
			a
				background: url('../img/twitter.png') no-repeat
				background-size: 64px 64px
				@include transition (background 0.2s ease-out)
				@include image-2x("../img/twitter@2x.png", 64px, 64px)
				
				&:hover
					background: url('../img/twitter_hover.png') no-repeat	
					background-size: 64px 64px	
					@include transition (background 0.2s ease-out)
					@include image-2x("../img/twitter_hover@2x.png", 64px, 64px)
					
					
		li.instagram 
			a
				background: url('../img/instagram.png') no-repeat
				background-size: 64px 64px
				@include transition (background 0.2s ease-out)
				@include image-2x("../img/instagram@2x.png", 64px, 64px)
		
				&:hover
					background: url('../img/instagram_hover.png') no-repeat
					background-size: 64px 64px
					@include image-2x("../img/instgram@2x.png", 64px, 64px)
					
								
		