@import "bourbon"
@import ../variables

header
	display: block
	min-height: 100%
	height: auto
	min-width: 100%
	top: 0
	left: 0
	position: relative
	background: url('../img/header.jpg') no-repeat bottom center
	background-size: cover
	background-attachment: fixed
	padding: 0 !important
	margin: 0
	
	.container 
		min-height: 640px
		height: 100%
		position: relative
		display: block
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.57)
		color: $white
		text-align: center
		
		.logo
			background: url('../img/logo.png') no-repeat center center
			@include image-2x("../img/logo@2x.png", 512px, 292px)
			background-size: 519px 292px
			height: 292px
			width: 519px
			display: block
			text-indent: -1000000000000em
			overflow: hidden
			color: transparent
			margin: 4em auto 0 auto
			
		.tagline
			width: 100%
			max-width: 460px
			margin: 1em auto 0 auto
			display: block
			font-weight: 500
			font-size: 1.5em
			color: $white
		
		.pitch
			width: 100%
			max-width: 460px
			margin: 1em auto 0 auto
			font-weight: 600

			max-width: 460px 
			color: $white
			
			
		ul.bottomheader 
			width: 100%
			padding: 0 !important
			list-style: none
			text-align: center
			margin: 1em auto 0 auto
			
			li
				list-style: none
				display: inline-block
				height: 66px
				width: 202px
				margin: 0 1em
				
			.row 
				padding: 0 !important
			h1
				@extend .caps	
				font-weight: 600
				font-size: $heading !important
				color: $white
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75)
				padding: 7px 0 0 0
				background: transparent

section.navcontainer.container
	background: $white 
	height: 101px
	display: block
	
	.stuck
		position: fixed
		top: 0
		min-width: 100%
		z-index: 1
		margin: 0 !important
		box-shadow: 0 1px 5px rgba(0,0,0,0.05)
		@include transition (none)
		@include transform(translateZ(0))
		
	nav
		display: block
		position: relative
		left: 0
		min-width: 100%
		background: $white
		//border: 1px solid $green
		vertical-align: middle
		text-align: center
		padding: 0
		@include transition (none)
		margin: 0 0 0 0px
		
		ul
			list-style: none
			width: 100%
			max-width: 960px
			height: 100px
			display: block
			text-align: center
			//border: 1px solid $
			padding: 0 !important
			margin: 0 auto
			
			li
				display: inline-block
				vertical-align: middle
				line-height: 100px
				
				a
					display: inline-block
					height: 100px
					width: 100%
					line-height: 100px
					vertical-align: middle
					color: $orange
					font-size: $content
					text-decoration: none
					@extend .caps			

					@include transform(translateZ(0))
					@include transition (all 0.2s ease-out)
					
					
					&:hover
						color: $dark
						
				a.active
					color: $dark
				
.socialbuttons
	margin: 2em 0
	
	.fbbutton
		display: inline-block
		height: 20px
		
	.twitterbutton
		display: inline-block
		height: 22px
		margin-bottom: -3px
		
// SLICKNAV BITCH
ul.menu
	display: none