.caps {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

.capsalt {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "proxima-nova", proxima nova, helvetica, arial, sans-serif; }

li.expanded {
  display: block !important;
  line-height: 24px;
  box-sizing: border-box; }
  li.expanded p {
    margin: 1em 0;
    padding: 0; }
  li.expanded ul {
    margin: 1em 0;
    list-style-type: disc;
    padding-left: 1.3em; }
    li.expanded ul li {
      color: #909699; }

li.hidden {
  position: relative;
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  li.hidden p {
    margin: 1em 0;
    padding: 0; }
  li.hidden ul {
    margin: 1em 0;
    list-style-type: disc;
    padding-left: 1.3em; }
    li.hidden ul li {
      color: #909699; }

li.expandable {
  line-height: 2em;
  display: block;
  clear: both;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  margin: 1em 0;
  visibility: visible !important;
  opacity: 1 !important;
  transition-delay: 0s; }
  li.expandable h2 {
    display: inline;
    width: auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  li.expandable p {
    display: inline;
    margin: 0;
    padding: 0; }
  li.expandable .infoicon {
    height: 24px;
    width: auto;
    display: inline;
    float: right;
    margin: 0.125em 0 0 0; }
  li.expandable:hover h2 {
    color: #909699; }

.plus {
  display: inline;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #909699;
  float: right;
  font-size: 1.5em;
  font-weight: 600; }

.rotated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #424346 !important; }
