@import "bourbon"
@import ../variables

li.expanded
	display: block !important
	line-height: 24px
	box-sizing: border-box
	
	p
		margin: 1em 0
		padding: 0
	ul
		margin: 1em 0
		list-style-type: disc
		padding-left: 1.3em
		
		li
			color: $medium
	
li.hidden
	position: relative
	visibility: hidden
	display: none
	opacity: 0
	transition: visibility 0s linear 0.5s,opacity 0.5s linear
	margin: 0
	padding: 0
	box-sizing: border-box
	
	p
		margin: 1em 0
		padding: 0
	ul
		margin: 1em 0
		list-style-type: disc
		padding-left: 1.3em
		
		li
			color: $medium
	
li.expandable
	line-height: 2em
	display: block
	clear: both
	text-align: left
	vertical-align: middle
	cursor: pointer
	margin: 1em 0
	visibility: visible !important
	opacity: 1 !important
	transition-delay: 0s
	
	h2
		display: inline
		width: auto
		@include transition (all 0.2s ease-out)
		
	p
		display: inline
		margin: 0
		padding: 0

			
	.infoicon
		height: 24px
		width: auto
		display: inline
		float: right
		margin: .125em 0 0 0
		
	&:hover
		
		h2
			color: $medium

.plus
	display: inline
	@include transition (all 0.2s ease-out)
	color: $medium
	float: right
	font-size: 1.5em
	font-weight: 600

.rotated
	@include transform(rotate(45deg))
	color: #424346 !important
	